.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

dialog:not([open]) {
  display: none;
}

.modal__content {
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
  transition: color 0.2s;
}

.modal__close-button:hover {
  color: #333;
}
