.header__container {
  width: 100%;
  background: #233131;
  padding: 20px 28px;
  display: flex;
  align-items: center;
}

.header__searchbar {
  width: 180px;
  outline: none;
  font-size: 16px;
  margin: 0 20%;
  padding: 3px 10px;
  margin-top: 5px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
}

.header__searchbar:focus {
  border: 2px solid #08aeea;
}
